<div class="container">
    <div>
        <h2>Ajouter un fichier  :</h2>
    </div>
    <form>

        <div class="col-sm-2 col-md-2 col-lg-2">
            <label for="idFichier">ID fichier</label>
            <input type="text" [(ngModel)] = "newFichier.idFichier" name="idFichier" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label for="nomFichier">Nom fichier</label>
            <input type="text" [(ngModel)] = "newFichier.nomFichier" name="nomFichier" class="form-control">
        </div>

        <div class="col-sm-2 col-md-4 col-lg-4">
            <label for="dateCreation">Date de création</label>
            <input type="date" [(ngModel)] = "newFichier.dateCreation " name="dateCreation" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label for="">Date de modification</label>
            <input type="date" [(ngModel)] = "newFichier.dateModification " name="dateModificationc" class="form-control">
        </div>

        <div class="col-sm-2 col-md-2 col-lg-2">
            <label for="taille">Taille</label>
            <input type="text" [(ngModel)] = "newFichier.taille" name="taille" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Type</label><br>
            <select class="browser-default custom-select" [(ngModel)]="newFichier.type" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let type of types" [ngValue] = "type" >{{type.nomType}}</option>
            </select>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4 mt-4">
            <button type="button" (click)="addFichier()" class="btn btn-success"> Ajouter </button>
        </div>
    </form>
</div>